/* Variables */

body {
  --border-radius: 1.75em;
}

body.light-mode {
  --box-shadow: 5px 0px 10px rgba(105, 105, 113, 0.125),
    -5px 0px 10px rgba(105, 105, 113, 0.125),
    0px 5px 10px rgba(105, 105, 113, 0.125),
    0px -5px 10px rgba(105, 105, 113, 0.125);
}

body.dark-mode {
  --box-shadow: 1px 0px rgba(105, 105, 113, 0.5),
    -1px 0px rgba(105, 105, 113, 0.5), 0px 1px rgba(105, 105, 113, 0.5),
    0px -1px rgba(105, 105, 113, 0.5);
}
