.displayInfo {
  background-color: var(--bg-2);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 2rem 1rem;
  padding: 1rem;
}

.infoBox {
  background: var(--bg-3);
  border-radius: var(--border-radius);
  margin: 1rem;
  padding: 1rem;
}
