.appRoot {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: min(65em, 95vw);
  background-color: var(--bg-1);
}
